//- 5-star rating
mixin rating(rushee_id, rating)
  div.rating
    span(id="rating-input-#{rushee_id}-1") ★
    span(id="rating-input-#{rushee_id}-2") ★
    span(id="rating-input-#{rushee_id}-3") ★
    span(id="rating-input-#{rushee_id}-4") ★
    span(id="rating-input-#{rushee_id}-5") ★

//- Traits
mixin trait-vote(trait_full)
  span.trait-vote
    input(type="checkbox" id="trait-vote-#{trait_full.trait_name}" checked="#{trait_full.voted}")
    label(for="trait-vote-#{trait_full.trait_name}")

mixin trait(trait)
  span.trait.card
    span.num-endorsements #{trait.votes}
    span.trait-name #{trait.trait_name}

mixin initials-box(name)
  span.name-box.card(title="#{name}")
    = name.replace(/\W*(\w)\w*/g, '$1').toUpperCase()

mixin trait-full(trait_full)
  div.trait-full
    +trait-vote(trait_full)
    +trait(trait_full)
    each active_name, idx in trait_full.actives
      - if (idx < 8)
        +initials-box(active_name)


mixin rush-attendance(attendance_array)
  div.rushee-attendance