//- 5-star rating
mixin rating(rushee_id, rating, count)
  div.rating(id="rating-#{rushee_id}")
    div(id="avg-rating-#{rushee_id}") #{Math.round(rating * 100) / 100} (#{count-1})
    span(id="rating-input-#{rushee_id}-5") ★
    span(id="rating-input-#{rushee_id}-4") ★
    span(id="rating-input-#{rushee_id}-3") ★
    span(id="rating-input-#{rushee_id}-2") ★
    span(id="rating-input-#{rushee_id}-1") ★

//- Traits
mixin trait-vote(trait_full)
  span.trait-vote
    input(type="checkbox" id="trait-vote-#{encodeURI(trait_full.trait_name)}" checked="#{trait_full.voted}")
    label(for="trait-vote-#{encodeURI(trait_full.trait_name)}")

mixin trait(trait)
  span.trait.card
    span.num-endorsements #{trait.votes}
    p #{trait.trait_name}

mixin initials-box(name)
  span.name-box.card(title="#{name}")
    = name.replace(/\W*(\w)\w*/g, '$1').toUpperCase()

//- attendance array is the list of event IDs that the rushee went to
mixin rush-attendance(attendance)
  div.rushee-attendance
    span(class="attended-#{attendance.indexOf(1) !== -1}")
    span(class="attended-#{attendance.indexOf(2) !== -1}")
    span(class="attended-#{attendance.indexOf(3) !== -1}")
    span(class="attended-#{attendance.indexOf(4) !== -1}")
    span(class="attended-#{attendance.indexOf(5) !== -1}")
