extends layout

block title
  title Rushee List

mixin character-trait()

mixin rushee(data)
  a(href="/rushee/#{data.id}")
    li.rushee-entry.card-hover.row
      img.rushee-picture.col-md-2(src=data.profile_picture)
      div.rushee-info.col-md-10.row
        div.rushee-stats.col-md-4.clearfix
          h2.rushee-name #{data.name}
          +rating(data.id, data.avg_rating)
          div.top-traits-container.row
            each trait, idx in data.topTraits
              - if (idx < 2)
                +trait(trait).col-md-12.col-lg-6
          span.rushee-year #{data.year}.
          span.rushee-dorm #{data.dorm}
        div.rushee-summary.col-md-8
          p #{data.summary == "" ? "No description yet" : data.summary}

block header
  h1#title.card-shadow Rushee List

block content
  script.
    var rushees = !{JSON.stringify(rushees)};
  ol#rushee-list
    each rushee in rushees
      +rushee(rushee)

block scripts
  script(src='/js/rating.js')
  script(src='/js/index.js')