extends layout

block title
  title ΦKΨ Rush Portal

mixin character-trait()

mixin rushee(rushee)
  li.rushee-entry.card-hover(id="rushee-card-#{rushee.id}")
    a(href="/rushee/#{rushee.id}")
      div.row
        div.rushee-picture.col-12.col-sm-3.col-xl-2
          div.xs-max-width-12
            img.img-fluid(src=rushee.profile_picture)
        div.rushee-info.col-12.col-sm-5.col-xl-6
          h2.rushee-name #{rushee.name}
          +rating(rushee.id, rushee.score, _.sum(rushee.ratings))
          +rush-attendance(rushee.attendance)
          div.top-traits-container.clearfix
            each trait, idx in rushee.traits
              - if (idx < 2)
                +trait(trait)
          div.rushee-year-dorm
            span.rushee-year #{rushee.year}.
            span.rushee-dorm #{rushee.dorm} #{rushee.room_number}
        div.rushee-summary.col-12.col-sm-4
          p #{rushee.summary == "" ? "No description yet" : rushee.summary}

block header
  h1#title.card-shadow Rushee List

block content
  script var rushees = !{JSON.stringify(rushees)};
  input#rushee-filter.card-hover(type="search" placeholder="search")
  ol#rushee-list
    each rushee in rushees
      +rushee(rushee)

block scripts
  script(src='/js/rating.js')
  script(src='/js/index.js')