extends layout

block title
  title Rushee List

mixin character-trait()

mixin rushee(data)
  li.rushee-entry.card-hover(id="rushee-card-#{data.id}")
    a.row(href="/rushee/#{data.id}")
      img.rushee-picture.col-xl-2.col-lg-3.col-md-4(src=data.profile_picture)
      div.rushee-info.col-xl-10.col-lg-9.col-md-8.row
        div.rushee-stats.col-lg-4.col-md-6.clearfix
          h2.rushee-name #{data.name}
          +rating(data.id, data.avg_rating, data.num_ratings)
          +rush-attendance(data.event_attendance)
          div.top-traits-container.row
            each trait, idx in data.top_traits
              - if (idx < 2)
                +trait(trait).col-md-12.col-lg-6
          span.rushee-year #{data.year}.
          span.rushee-dorm #{data.dorm}
        div.rushee-summary.col-lg-8.col-md-6
          p #{data.summary == "" ? "No description yet" : data.summary}

block header
  h1#title.card-shadow Rushee List

block content
  script var rushees = !{JSON.stringify(rushees)};
  input#rushee-filter.card-hover(type="search" autofocus="autofocus" placeholder="search")
  ol#rushee-list
    each rushee in rushees
      +rushee(rushee)

block scripts
  script(src='/js/rating.js')
  script(src='/js/index.js')