extends layout

block title
  title Rushee - #{rushee.name}

block header
  div#title-detail.card-shadow
    div.container
      di.row
        a#back-button.col-md-1(href="/" title="Back to list") ❰
        img#profile-picture.col-md-3.col-xl-2.card(src=rushee.profile_picture)
        div#title-info.col-md-8.col-xl-9
          h1 #{rushee.name}
          +rating(rushee.id, rushee.avg_rating, rushee.num_ratings)
          +rush-attendance(attendance)
          div.rushee-year-dorm
            span.rushee-year #{rushee.year}.
            span.rushee-dorm #{rushee.dorm} #{rushee.room_number}

mixin comment(comment)
  li.comment.clearfix
    +initials-box(comment.author)
    p #{comment.text}

mixin trait-full(trait_full)
  li.trait-full.clearfix
    +trait-vote(trait_full)
    +trait(trait_full)
    div.trait-endorsements
      each active_name, idx in trait_full.actives
        - if (idx < 8)
          +initials-box(active_name)

block content
  script.
    var rushee = !{JSON.stringify(rushee)}; var traits = !{JSON.stringify(traits)}; var ratings = !{JSON.stringify(ratings)};
  h2.detail-header Distribution of Ratings
  //- Heights set via js
  div.histogram.detail-item#histogram
    div.hist-bars
      span.hist-bar-1
      span.hist-bar-2
      span.hist-bar-3
      span.hist-bar-4
      span.hist-bar-5
    div.hist-labels
      span.hist-label-1 1
      span.hist-label-2 2
      span.hist-label-3 3
      span.hist-label-4 4
      span.hist-label-5 5
  h2.detail-header Brother-written summary
  textarea#detail-summary.detail-item(placeholder="Write a summary for #{rushee.name}") #{rushee.summary}
  //- TODO: dirty / clean indicator for #detail-summary
  h2.detail-header Character Traits
  ol#trait-list.detail-item
    each trait in traits
      +trait-full(trait)
  input#trait-input.detail-item(type="text" placeholder="Know #{rushee.name.split(' ')[0]}? Add a trait")
  h2.detail-header Comments
  ol#comment-list.detail-item
    each comment in comments
      +comment(comment)
  //- TODO: user name box
  textarea#comment-input.detail-item(type="text" placeholder="Add a comment")

block scripts
  script(src='/js/autosize.min.js')
  script(src='/js/histogram.js')
  script(src='/js/rating.js')
  script(src='/js/rushee.js')